# Dependencies
node_modules/

# Environment variables
.env
.env.local

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# Build folders
dist/
build/

# Coverage
coverage/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db